@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --one: #364d70;
  --two: #5e718d;
  --three: #8694a9;
  --four: #AFB8C6;
  --five: #D7DBE2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: 'Poppins', sans-serif;
  --color-one: var(--one);
  --color-two: var(--two);
  --color-three: var(--three);
  --color-four: var(--four);
  --color-five: var(--five);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}