@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --one: #364d70;
  --two: #5e718d;
  --three: #8694a9;
  --four: #AFB8C6;
  --five: #D7DBE2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-one: var(--one);
  --color-two: var(--two);
  --color-three: var(--three);
  --color-four: var(--four);
  --color-five: var(--five);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-sans:var(--font-poppins);
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

body {
  font-family: var(--font-poppins), system-ui, sans-serif;
}
